packages/ops/n8n/canonical/api_failure_incident_apology.json
{
  "name": "Voice API Failure - Incident + Apology",
  "versionId": "c1c6f890-6924-4b02-baec-aebfce0c3a94",
  "nodes": [
    {
      "parameters": {
        "path": "voice-failure-hook",
        "httpMethod": "POST"
      },
      "name": "Failure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "voice-failure-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "Voice API Failure"
            },
            {
              "id": "text",
              "name": "text",
              "value": "=Voice API error detected:\n\nError: {{ $json.humanSummary || 'Unknown error' }}\nEndpoint: {{ $json.endpoint || 'unknown' }}\nRequest ID: {{ $json.requestId || 'unknown' }}\nFounder: {{ $json.founder || 'unknown' }}\nTimestamp: {{ $now.toISO() }}"
            }
          ]
        }
      },
      "name": "Format Failure Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ 'Helper: Email Notify' }}"
      },
      "name": "Email Notify (Failure)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [540, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "{{ $env.EM_API_BASE_URL || $env.API_BASE_URL }}/api/voice/support/follow-up",
        "method": "POST",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $node[\"Failure Webhook\"].json.voiceApiToken || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "{\n  \"subject\": \"Follow-up: Voice API Issue\",\n  \"dueISO\": \"{{ new Date(Date.now() + 3600000).toISOString() }}\",\n  \"context\": \"Error during voice command execution: {{ $node[\"Failure Webhook\"].json.humanSummary || 'Unknown error' }}. Issue has been logged and escalated.\",\n  \"founder\": \"{{ $node[\"Failure Webhook\"].json.founder || 'shria' }}\"\n}"
      },
      "name": "Create Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "condition": "equal",
              "value1": "{{ $json.status }}",
              "value2": "ok"
            }
          ]
        }
      },
      "name": "Follow-up OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "Voice API Follow-up Created"
            },
            {
              "id": "text",
              "name": "text",
              "type": "string",
              "value": "=Follow-up task created successfully.\n\nStatus: {{ $json.status }}\nTask ID: {{ $json.data?.taskId || 'unknown' }}\nSubject: {{ $json.data?.followUpSubject || 'unknown' }}\nTimestamp: {{ $now.toISO() }}"
            }
          ]
        }
      },
      "name": "Format Success Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "workflowId": "={{ 'Helper: Email Notify' }}"
      },
      "name": "Email Notify (Success)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1420, 220],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWithData": true,
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"I couldn't complete that. I've logged the issue and will follow up shortly.\",\n  \"followUpStatus\": \"{{ $node[\"Create Follow-up\"].json.status || 'unknown' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Respond with Apology",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 220]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "Voice API Follow-up Failed"
            },
            {
              "id": "text",
              "name": "text",
              "type": "string",
              "value": "=Follow-up task creation failed.\n\nError: {{ $json.humanSummary || $json.error?.message || 'Unknown error' }}\nStatus: {{ $json.status || 'error' }}\nTimestamp: {{ $now.toISO() }}"
            }
          ]
        }
      },
      "name": "Format Failure Follow-up Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1200, 380]
    },
    {
      "parameters": {
        "workflowId": "={{ 'Helper: Email Notify' }}"
      },
      "name": "Email Notify (Failure Follow-up)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1420, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWithData": true,
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"An error occurred while processing your request. We are investigating.\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Respond Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 380]
    }
  ],
  "connections": {
    "Failure Webhook": {
      "main": [
        [
          {
            "node": "Format Failure Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Failure Email": {
      "main": [
        [
          {
            "node": "Email Notify (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notify (Failure)": {
      "main": [
        [
          {
            "node": "Create Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Follow-up": {
      "main": [
        [
          {
            "node": "Follow-up OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up OK?": {
      "main": [
        [
          {
            "node": "Format Success Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Failure Follow-up Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Email": {
      "main": [
        [
          {
            "node": "Email Notify (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notify (Success)": {
      "main": [
        [
          {
            "node": "Respond with Apology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Failure Follow-up Email": {
      "main": [
        [
          {
            "node": "Email Notify (Failure Follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Notify (Failure Follow-up)": {
      "main": [
        [
          {
            "node": "Respond Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "description": "Handles voice API failures by delegating email notifications to a helper, creating follow-ups, and responding with an apology."
}
