packages/ops/n8n/canonical/api_failure_incident_apology.json
{
  "name": "Voice API Failure - Incident + Apology",
  "versionId": "c1c6f890-6924-4b02-baec-aebfce0c3a94",
  "nodes": [
    {
      "parameters": {
        "path": "voice-failure-hook",
        "httpMethod": "POST"
      },
      "name": "Failure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "voice-failure-webhook-id"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Voice API Failure"
            },
            {
              "name": "message",
              "value": "{{ $json.humanSummary || 'Unknown voice API error' }}"
            }
          ],
          "json": [
            {
              "name": "meta",
              "value": "{{ { endpoint: $json.endpoint, requestId: $json.requestId, founder: $json.founder } }}"
            }
          ]
        }
      },
      "name": "Normalize Slack Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "SLACK_NOTIFY_HELPER_ID",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Slack Notify (Failure)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [540, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "{{ $env.API_BASE_URL }}/api/voice/support/follow-up",
        "method": "POST",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $node[\"Failure Webhook\"].json.voiceApiToken || '' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "body": "{\n  \"subject\": \"Follow-up: Voice API Issue\",\n  \"dueISO\": \"{{ new Date(Date.now() + 3600000).toISOString() }}\",\n  \"context\": \"Error during voice command execution: {{ $node[\"Failure Webhook\"].json.humanSummary || 'Unknown error' }}. Issue has been logged and escalated.\",\n  \"founder\": \"{{ $node[\"Failure Webhook\"].json.founder || 'shria' }}\"\n}"
      },
      "name": "Create Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [760, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": [
            {
              "condition": "equal",
              "value1": "{{ $json.status }}",
              "value2": "ok"
            }
          ]
        }
      },
      "name": "Follow-up OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Follow-up Created"
            },
            {
              "name": "message",
              "value": "{{ $json.humanSummary || 'Follow-up created.' }}"
            }
          ],
          "json": [
            {
              "name": "meta",
              "value": "{{ { status: $json.status, taskId: $json.data?.taskId, followUpSubject: $json.data?.followUpSubject } }}"
            }
          ]
        }
      },
      "name": "Slack Payload (Success)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1200, 220]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "SLACK_NOTIFY_HELPER_ID",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Slack Notify (Success)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1420, 220],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWithData": true,
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"I couldn't complete that. I've logged the issue and will follow up shortly.\",\n  \"followUpStatus\": \"{{ $node[\"Create Follow-up\"].json.status || 'unknown' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Respond with Apology",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 220]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "Follow-up Failed"
            },
            {
              "name": "message",
              "value": "{{ $json.humanSummary || $json.error?.message || 'Follow-up failed.' }}"
            }
          ],
          "json": [
            {
              "name": "meta",
              "value": "{{ { status: $json.status || 'error' } }}"
            }
          ]
        }
      },
      "name": "Slack Payload (Failure)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1200, 380]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "SLACK_NOTIFY_HELPER_ID",
        "mode": "once",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "name": "Slack Notify (Failure Follow-up)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1420, 380],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWithData": true,
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"An error occurred while processing your request. We are investigating.\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "name": "Respond Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1640, 380]
    }
  ],
  "connections": {
    "Failure Webhook": {
      "main": [
        [
          {
            "node": "Normalize Slack Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Slack Payload": {
      "main": [
        [
          {
            "node": "Slack Notify (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notify (Failure)": {
      "main": [
        [
          {
            "node": "Create Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Follow-up": {
      "main": [
        [
          {
            "node": "Follow-up OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow-up OK?": {
      "main": [
        [
          {
            "node": "Slack Payload (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Payload (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Payload (Success)": {
      "main": [
        [
          {
            "node": "Slack Notify (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notify (Success)": {
      "main": [
        [
          {
            "node": "Respond with Apology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Payload (Failure)": {
      "main": [
        [
          {
            "node": "Slack Notify (Failure Follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Notify (Failure Follow-up)": {
      "main": [
        [
          {
            "node": "Respond Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "description": "Handles voice API failures by delegating Slack notifications to a helper, creating follow-ups, and responding with an apology."
}
