packages/ops/n8n/helpers/email_notify.workflow.json
{
  "name": "Helper: Email Notify",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [640, 300]
    },
    {
      "parameters": {
        "content": "## Helper: Email Notify\n\n**Purpose**: Send email notifications via Gmail with environment prefixes\n\n**Inputs**:\n- to: email address or comma-separated list\n- subject: email subject (prefix added automatically)\n- text: plain text body\n- html: optional HTML body\n\n**Required Env Vars**:\n- EM_ALERT_EMAIL_TO or EM_DAILY_BRIEF_EMAIL_TO (fallback for 'to')\n- EM_N8N_ENV (local|staging|prod) - adds [LOCAL], [STAGING], [PROD] prefix\n- EM_EMAIL_FROM_NAME (optional)\n\n**Required Credentials**:\n- Gmail OAuth2\n\n**Outputs**:\n- sent: true\n- to: recipient\n- subject: final subject with prefix",
        "height": 420,
        "width": 480
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 80]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "env-prefix",
              "name": "envPrefix",
              "type": "string",
              "value": "={{ $env.EM_N8N_ENV === 'prod' ? '[PROD] ' : ($env.EM_N8N_ENV === 'staging' ? '[STAGING] ' : '[LOCAL] ') }}"
            },
            {
              "id": "final-subject",
              "name": "finalSubject",
              "type": "string",
              "value": "={{ $json.envPrefix + ($json.subject || 'EM-AI Notification') }}"
            },
            {
              "id": "final-to",
              "name": "finalTo",
              "type": "string",
              "value": "={{ $json.to || $env.EM_ALERT_EMAIL_TO || $env.EM_DAILY_BRIEF_EMAIL_TO || 'CONFIGURE_EMAIL@example.com' }}"
            },
            {
              "id": "final-text",
              "name": "finalText",
              "type": "string",
              "value": "={{ $json.text || '' }}"
            },
            {
              "id": "final-html",
              "name": "finalHtml",
              "type": "string",
              "value": "={{ $json.html || '' }}"
            }
          ]
        }
      },
      "id": "prepare-email",
      "name": "Prepare Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [840, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.finalTo }}",
        "subject": "={{ $json.finalSubject }}",
        "emailType": "={{ $json.finalHtml ? 'html' : 'text' }}",
        "message": "={{ $json.finalHtml || $json.finalText }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1040, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "Gmail OAuth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sent",
              "name": "sent",
              "type": "boolean",
              "value": true
            },
            {
              "id": "to",
              "name": "to",
              "type": "string",
              "value": "={{ $('Prepare Email').item.json.finalTo }}"
            },
            {
              "id": "subject",
              "name": "subject",
              "type": "string",
              "value": "={{ $('Prepare Email').item.json.finalSubject }}"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T00:00:00.000Z",
  "versionId": "1"
}
