packages/ops/n8n/api_failure_incident_apology.json
{
  "name": "Voice API Failure → Incident + Apology",
  "versionId": "c6688d25-0c9e-4097-9629-875e8a73b312",
  "nodes": [
    {
      "parameters": {
        "path": "voice-failure-hook",
        "httpMethod": "POST"
      },
      "id": "failure-webhook",
      "name": "Failure Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "voice-failure-webhook-id"
    },
    {
      "parameters": {
        "workflowId": "={{ 'Helper: Email Notify' }}",
        "fieldsUi": {
          "values": [
            {
              "name": "to",
              "value": "={{ $env.EM_ALERT_EMAIL_TO }}"
            },
            {
              "name": "subject",
              "value": "Voice API Failure Alert"
            },
            {
              "name": "text",
              "value": "=Voice API error detected:\n\nError: {{ $json.humanSummary || 'Unknown error' }}\nEndpoint: {{ $json.endpoint }}\nFounder: {{ $json.founder || 'unknown' }}\nTimestamp: {{ $now.toISO() }}\n\nA follow-up task has been created."
            },
            {
              "name": "html",
              "value": "=<h2>🚨 Voice API Failure</h2>\n<p><strong>Error:</strong> {{ $json.humanSummary || 'Unknown error' }}</p>\n<p><strong>Endpoint:</strong> <code>{{ $json.endpoint }}</code></p>\n<p><strong>Founder:</strong> {{ $json.founder || 'unknown' }}</p>\n<p><strong>Timestamp:</strong> {{ $now.toISO() }}</p>\n<p>A follow-up task has been created and will be due in 1 hour.</p>"
            }
          ]
        }
      },
      "id": "send-alert-email",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EM_API_BASE_URL || $env.API_BASE_URL }}/api/voice/support/follow-up",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.VOICE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  subject: 'Follow-up: Voice API Issue',\n  dueISO: $now.plus({hours: 1}).toISO(),\n  context: 'Error during voice command execution: ' + ($('Failure Webhook').item.json.humanSummary || 'Unknown error') + '. Issue has been logged and escalated.',\n  founder: $('Failure Webhook').item.json.founder || 'shria'\n} }}"
      },
      "id": "create-followup",
      "name": "Create Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  status: 'error',\n  message: 'I couldn\\'t complete that. I\\'ve logged the issue and will follow up shortly.',\n  followUpStatus: $json.statusCode >= 200 && $json.statusCode < 300 ? 'created' : 'failed',\n  timestamp: $now.toISO()\n} }}"
      },
      "id": "respond-with-apology",
      "name": "Respond with Apology",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Failure Webhook": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "Create Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Follow-up": {
      "main": [
        [
          {
            "node": "Respond with Apology",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T00:00:00.000Z",
  "description": "Handles voice API failures: sends email alert, creates follow-up reminder, and responds with empathetic apology message to user."
}
