packages/ops/n8n/p0_daily_focus_to_p1_action_pack.json
{
  "name": "P0 Daily Focus → P1 Action Pack",
  "versionId": "9da19f33-4965-4cb3-953f-72551f487627",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-5"
            }
          ]
        }
      },
      "id": "weekday-cron",
      "name": "Weekday Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $env.EM_API_BASE_URL || $env.API_BASE_URL }}/api/exec-admin/p0/daily-focus",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  userId: $env.P0_USER_ID || 'local-dev',\n  force: false\n} }}"
      },
      "id": "start-p0-daily-focus",
      "name": "Start P0 Daily Focus",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-runid",
              "name": "runId",
              "type": "string",
              "value": "={{ $json.runId || $json.data?.runId }}"
            }
          ]
        }
      },
      "id": "extract-runid",
      "name": "Extract runId",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [540, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.EM_API_BASE_URL || $env.API_BASE_URL }}/api/exec-admin/p1/execute-action-pack",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  userId: $env.P0_USER_ID || 'local-dev',\n  runId: $json.runId,\n  force: false\n} }}"
      },
      "id": "execute-p1-action-pack",
      "name": "Execute P1 Action Pack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "url": "={{ ($env.EM_API_BASE_URL || $env.API_BASE_URL) + '/em-ai/exec-admin/p0/runs/' + $('Extract runId').item.json.runId }}",
        "method": "GET"
      },
      "id": "fetch-run-status",
      "name": "Fetch Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 300]
    },
    {
      "parameters": {
        "workflowId": "={{ 'Helper: Email Notify' }}",
        "fieldsUi": {
          "values": [
            {
              "name": "to",
              "value": "={{ $env.EM_DAILY_BRIEF_EMAIL_TO || $env.EM_ALERT_EMAIL_TO }}"
            },
            {
              "name": "subject",
              "value": "P0→P1 Daily Run Complete"
            },
            {
              "name": "text",
              "value": "=P0 Daily Focus and P1 Action Pack execution completed.\n\nRun ID: {{ $json.run?.runId || $json.runId || 'unknown' }}\nStatus: {{ $json.run?.status || 'unknown' }}\nUser: {{ $env.P0_USER_ID || 'local-dev' }}\nTimestamp: {{ $now.toISO() }}"
            },
            {
              "name": "html",
              "value": "=<h2>✅ P0→P1 Daily Run Complete</h2>\n<p><strong>Run ID:</strong> <code>{{ $json.run?.runId || $json.runId || 'unknown' }}</code></p>\n<p><strong>Status:</strong> {{ $json.run?.status || 'unknown' }}</p>\n<p><strong>User:</strong> {{ $env.P0_USER_ID || 'local-dev' }}</p>\n<p><strong>Timestamp:</strong> {{ $now.toISO() }}</p>"
            }
          ]
        }
      },
      "id": "send-completion-email",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1180, 300]
    }
  ],
  "connections": {
    "Weekday Cron": {
      "main": [
        [
          {
            "node": "Start P0 Daily Focus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start P0 Daily Focus": {
      "main": [
        [
          {
            "node": "Extract runId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract runId": {
      "main": [
        [
          {
            "node": "Execute P1 Action Pack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute P1 Action Pack": {
      "main": [
        [
          {
            "node": "Fetch Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Run Status": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/Los_Angeles"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T00:00:00.000Z",
  "description": "Weekday cron trigger: P0 Daily Focus → P1 execute action pack → fetch run status → email notification."
}
